/256.xlsx
/andamentos novos.xlsx
/Andamento_Processos.xlsx
/Automacao com API.ipynb
/Automação TJSP.py
/movimentacoes.csv
/movimentações.xlsx
/mov_last.txt
/Pasta1.xlsx
/teste.py
/teste.xlsx
/teste_conexao_postgreSQL.ipynb